html {
    height: 100%;
  }
  .row{
    margin: auto !important;
  }
  body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }
  
  .wrapper {
      /* height: 100% !important; */
      height: 100%;
      margin: 0 auto; 
      overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  
  h1, h2 {
    width: 100%;
    float: left;
  }

  
  .pointer {
    color: #d06000;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 15px;
  }


  .main {
    float: left;
    width: 100%;
    margin: 0 auto;
  }
  
    
  header {
    position: relative;
    z-index: 10;
  }
  .main section .page_container {
    position: relative;
    margin: 0 auto 0;

    z-index: 3;
  }
  .main section  {
    overflow: hidden;
  }
  
  .main section.page1 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }
  .main section.page1 .header{
      background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
      border-bottom: 1px solid gray;
  }

  .main section.page1 .page_container{
    overflow: hidden;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }

  .main section.page2 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 35px;
  }

  .main section.page2 .page_container {
    overflow: hidden;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }

  .main section.page2 .about-us{
    margin-top: 30px !important;
  }

  .main section.page2 .about-us .col-md-4{
    padding: 0;
  }

  .main section.page3 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 35px;
   }
  .main section.page3 .page_container {
    overflow: hidden;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }
  .main section.page3 .row{
    justify-content: center;
  }
  .ordering-instructions{
    width: 90%;
  }
  .main section.page3 .col-md-1{
    background: #d06000;
    margin: auto 0;
  }
  .main section.page3 .col-md-2 p{
    text-align: center;
    margin-top:10px; 
  }

  
  body.disabled-onepage-scroll .onepage-wrapper  section {
    min-height: 100%;
    height: auto;
  }
  .dropdown-menu{
    top: 116% !important;
    left: -40px !important;
  }
  .advantage-row{
    width: 100%;
    padding-top: 15px;

    display: flex !important;
    justify-content: center;
  }
  .advantage-row .col-md-4{
    text-align: center;
    background: #ffffffad;
  }

  body.disabled-onepage-scroll .page1{
    min-height: auto !important;
  }
  .action-products h2{
    margin: 20px 15px;
  }
  .action-products-wrapper h2{
    text-align: center;
  }
  .ordering {
    margin: auto;
    padding: 17%;
    background: #ffffff75;
    border-radius: 50%;
    width: 70%;
    -webkit-box-shadow: 10px 10px 32px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px -17px rgba(0,0,0,0.75);
}
.ordering img{
  width: 100%;
}

  /* CONTACT FORM STYLE */

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff9971;;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #ff9971;;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
  .wrapper{
    height: auto !important;
  }
}

/* CONTACT MAP STYLE */
.map iframe{
  width: 100%;
}
.container{
  background-color: #f2f2f29e;
  margin: 3% auto;
  max-width: 80% !important;
}

.contact-data h6{
    font-weight: 300;
}

.contact-data{
  text-align: center;
  margin: 3%;
}

