.header{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border-bottom: 1px solid gray;
}
.intro-text{
  margin: 30px auto 50px;
}
.intro-text h2, .intro-text h4{
  text-align: center;
    font-weight: 300;
}
.products {
	display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
}
#filters{
  margin-bottom: 20px;
  justify-content: start;
  width: 80%;
}

.product-card {
	display: flex;
	flex-direction: column;
    max-width: 300px;
	padding: 2%;
  /* flex: 1 16%; */
  margin: 6px;
	
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
	width: 100%;
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

@media ( max-width: 920px ) {
	
	/* .product-card {
		flex: 1 21%;
	} */
	
	/* .products .product-card:first-child, 
	.products .product-card:nth-child(2) {
		flex: 2 46%;
	} */
	
}

@media ( max-width: 600px ) {
	
	/* .product-card {
		flex: 1 46%;
	} */
	
}

@media ( max-width: 480px ) {
	
	h1 {
		margin-bottom: 20px;
	}
	
	.product-filter {
		flex-direction: column;
	}
	
	.sort {
		align-self: flex-start;
	}
	
}


/* Checkmark */

/* Customize the label (the container) */
.filter-container {
    display: block;
    position: relative;
    margin: auto 8px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #cccccc;
    padding: 2px 10px;
    background-color: red;
  }



.filter-category{
  border: 1px solid #cccccc;
  padding: 2px 10px;
  margin: auto 8px;
}
a.filter-category:focus, .filter-category:hover, .filter-category:visited{
  background: red;
}
a.proba:focus{
  background: blue;
}
  
  /* Hide the browser's default checkbox */
  .filter-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    display: none;
  }
  
  /* On mouse-over, add a grey background color */
  .filter-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .filter-container input:checked ~ .checkmark {
    background-color: #fdbfa7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .filter-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .filter-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .filter-wrapper{
      display: contents;
      margin-bottom: 15px;
  }

  .button-clear{
    background: #FDBFA7;
    font-size: 20px;
    color: white;
    border-style: none;
    cursor: pointer;
    padding: 5px 15px;
  }